
  

  h1 {
    color: rgb(47, 45, 45);
    text-align: center;

  }

  p {
    line-height: 1.6;
    color: #666666;
  }

  body {
    background-color: #d3dceb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .contenu {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }

   img {
   
    float: right;
  }
  .text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20%;
    float: left;
  }

  


